<style>
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    border-left: solid 10px #000;
    padding: 0;
    margin: 0;
    width: 0px;
    height: 10px;
  }

  td.black { border-color: #000; }
  td.white { border-color: #fff; }
</style>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Private:</strong>
  <%= @event.private %>
</p>

<p>
  <strong>Access Code:</strong>
  <%= @event.access_code %>
</p>

<p>
  <strong>QR code:</strong>
  <%= raw (@qr.as_html) %>
</p>
<p>
  <%= link_to("Download", qr_codes_path(id: @event.id), :method => :post) %>
</p>

<%= link_to 'Go to gallery', images_show_path(id: @event.id) %>
<%= link_to 'Stream', images_index_path(id: @event.id) %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
