<style>
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    border-left: solid 10px #000;
    padding: 0;
    margin: 0;
    width: 0px;
    height: 10px;
  }

  td.black { border-color: #000; }
  td.white { border-color: #fff; }
</style>

<%= link_to events_path do %>
    <i class="ion-arrow-left-b" style="font-size: 24px"> Back</i>
<% end %>


<div class="page-header">
<h1><%= @event.name %><small> <%= @event.created_at %></small></h1>
</div>

<% if @event.private %>
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-danger" role="alert"><%= 'Private event' %></div>
    </div>
  </div>

<% end %>
<div class="row">
  <div class="col-md-4">
    <div class="alert alert-info" role="alert"><span style="font-size: 24px"><b>Pristupni kod:</b> <i><%= @event.access_code %></i></span></div>
  </div>
</div>
<p>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <strong>QR code:</strong>
    <%= raw (@qr.as_html) %>
  </div>
</div>
</p>


<p>
  <%= link_to("Download QR", qr_codes_path(id: @event.id), :method => :post) %>
</p>

<%= link_to 'Go to gallery', images_show_path(id: @event.id) %> |
<%= link_to 'Stream', images_index_path(id: @event.id) %>

<br><br>
<% if @event.user_id == current_user.id %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br><br>