<!DOCTYPE html>
<html>
<head>
  <title>oh!Snapp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= include_gon(watch: true) %>
</head>
<body>
<%= yield %>
</body>
</html>